<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-02-17T04:13:50Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mmclinton/Google Drive/UCLA/@Winter 20/COM SCI 32/Programming Assignments/Assignment 1/Proj1_BadBlood/Proj1_BadBlood.xcodeproj</string>
</dict>
</plist>
